@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Slabo+27px&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
  font-family: 'Slabo 27px';
  font-size: 18px;
  text-align: center;
}

h1,h2, h3{
  font-family: 'Noto Serif';
  font-weight: bold;
  font-size: 25;
}

a{
  text-decoration: none;
}
